# NAVIGATION
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# COMMON DIRECTORIES

alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias dev="cd ~/Development"
alias home="cd ~"

# COMMON COMMANDS

alias ll="ls -lG"

# GIT

alias g="git"
alias gs="git status"
alias gd="git diff"
alias gb="git branch"
alias gm="git checkout main"
alias gl="git log"
alias commit="git commit -am"
alias push="git push"
alias pull="git pull"

# ANSIBLE

alias ap="ansible-playbook"

# KUBERNETES

alias k="kubectl"
